/* Resetting default margin and padding */
body, h1, h3, ul, li, p {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif; /* Use a common font for better readability */
}

body {
    text-align: left; /* Align content to the left */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f8f8f8; /* Add a light background color for better contrast */
}

header {
    justify-content: center;
    background: #f8f8f8;
    width: 100%;
    text-align: center;
    position: sticky;
    top: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff; /* Set text color */
    z-index: 1000;
    margin-bottom: 20px;
}

nav ul li {
    display: inline-block; /* Display list items horizontally */
    margin-left: 20px; /* Add margin between list items */
}

/* Styling the links */
a {
    font-size: 20px;
    text-decoration: none;
    color: #007bff; /* Use a primary color for links */
    transition: color 0.3s ease; /* Add a smooth color transition on hover */
    animation: fadeIn 10s ease-in-out forwards;
}

a:hover {
    color: #034c9b; /* Darken the color on hover */
}

h3 {
    font-size: 30px; /* Increase the font size for section headings */
    margin-top: 30px; /* Add more space above section headings */
    margin-bottom: 15px; /* Add more space below section headings */
    color: #444; /* Set a slightly darker color for section headings */
}